h1, h2 {
    font-family: "Optima", sans-serif;
}

.page {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Georgia", serif;
  height: 100%;
  background-color: #edf3fd;
  color: #2f0900;
}

.footer {
  font-size: 15px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
}

.right {
  float: right;	
}

.left {
  float: left;
}

.music-icons {
  display: flex;
  justify-content: space-evenly;
}

.music-icons img {
  height: 40px;
  padding: 10px;
}

iframe {
  width: 100%;
}
