h1, h2 {
    font-family: "Optima", sans-serif;
}

strong {
	font-weight: bold;
}

.page {
  max-width: 650px;
  margin: 0 auto;
  padding: 0px 10px 28px;
  font-family: "Georgia", serif;
  height: 100%;
  background-color: #edf3fd;
  color: #2f0900;
}

.footer {
  font-size: 15px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
}

.right {
  float: right;	
}

.left {
  float: left;
}

.navigation {
	border-bottom: 1px solid;
	flex-wrap: wrap;
}

.navigation .right {
	padding-left: 10px;
}

.navigation h5 {
	font-weight: lighter;
	margin: 6px 0px;
}

.music-icons {
  display: flex;
  justify-content: space-evenly;
}

.music-icons img {
  height: 40px;
  padding: 10px;
}

iframe {
  width: 100%;
}
